.startImg {
    object-fit: cover;
    position:fixed;
    top:58px;
    left:0px;
    width:100%;
    height:100%;
    z-index:-1;
}
.Home-buttons{
    font-family: 'Rajdhani';
    font-size: 1.5rem;
    line-height: 12vh;
}
.Home-txt {
    font-family: 'Rajdhani';
    font-size: 4rem;
    line-height: 90vh;
}
.Home-subtxt {
    font-size: 1.5rem;
    opacity: 0.5;
    position: absolute;
    margin: 0;
    top:100px;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.blackbg {
    position: absolute;
    margin: 0;
    top:58px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    color: white;
    text-align: center;
}